@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-container {
  background-color: #ddd;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  background-color: #4caf50;
  height: 100%;
  width: 100%;
  animation: progress-animation 5s linear;
}

@keyframes progress-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
